/*==================================================================================
    Alex CSS Custom
====================================================================================*/

.mnabgblack {
    background-color: #00060a;
    color: white;
}

.mnatext {
    color: white;
}

.bg-alex{
    background-color: #f3ececcc;
}